body{
  font-family: Arial;
  padding: 32px;
  max-width: 800px;
  margin: 0 auto;
}

h1{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(46, 139, 87);
  letter-spacing: 0.9px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 3px 3px 1px rgba(0,0,0,0.1);
  padding-bottom: 10px;
  border-bottom: 3px solid rgba(46, 139, 87, 0.3);
}

.todo-grid,
.todo-input-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 100px;
  gap: 10px;
  align-items: center;
}

.todo-grid{
  grid-template-columns: 1fr 1fr minmax(80px, 100px);
}
.todo-input-grid{
  margin-bottom: 17px;
  align-items: stretch;
}
.name-input,
.due-date-input{
  font-size: 16px;
  padding:10px ;
  width: 100%;
  box-sizing: border-box;
}
.add-todo-button,
.delete-todo-button{
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding: 10px 0;
  height: auto;
}
.delete-todo-button{
  background-color:rgb(139, 0, 0) ;
  height: 100%;
}
.css-configuration-grid{
  display: grid;
  grid-template-rows: auto auto;
  min-height: 60px;
  margin-bottom: 10px;
}
.yes-button,
.no-button{
  background-color: rgb(227, 227, 227);
  color: black;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
  margin-right: 4px;
}

.configuration-button{
  line-height: 35px;
}

button, input {
  -webkit-appearance: none;
}

@media (max-width: 500px) {
  body { 
    padding: 32px 0px 1px 9px;
  }
  .container { 
    display: block; 
  }
  .name-input, .due-date-input {
     font-size: 16px; 
    }
}